/*Impede de modificar o tamanho final*/
* {
	box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.cabecalho{
    position: fixed;
    width: 100%;
    height: 69px;
    background-color: #ec362d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho img {
    height: 43px;
}

/*Estilo referente à criação de quizzes*/

.criacao {
    margin: 140px 0;
    justify-content: center;
    align-items: center;
}

.criacao input[type=text] {
    width: 564px;
    height: 46px;
    margin: 4.5px 0;
    font-weight: 400;
    font-size: 19px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

/*Texto dentro do form*/
::placeholder {		
    margin-left: 23.16px;
    font-style: italic;
    color: #bababa;
}

.tituloCriacao {
    font-size: 23px;
    font-weight: bold;
    color: #000000;
}

.prompt {
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.basico {
    margin-top: 27px;
    width: 600px;
    height: 256px;
}
.titulo{
    width: 80%;
    font-weight: 700;
    font-size: 20px;

}

/*Botão do menu inferior*/
.confirmacao {
    width: 370px;
    height: 54px;
    justify-content: center;
    align-items: center;
    background-color: #ec362d;
    font-size: 21;
    color: #fff5f4;
    border: none;
    border-radius: 15px;
}

/*Menu inferior quando finalizado*/
.finalizar {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    background-color: white;
    justify-content: center;
    bottom: 0;
    z-index: 4;
}

.paginaInicial {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 12px auto 0 auto;
    background-color: crimson;

}
.seusQuizzes{
    width: 340px;
    border-radius: 5px;
    margin-left: 15px;
}
.seusQuizzes p{
    margin-bottom: 13px;
    font: Roboto;
    font-weight: 700;
    font-size: 20px;
}
.todosQuizzes img{ 
    width: 340px;
    height: 181px;
    border-radius: 5px;
  
}
.todosQuizzes{
    position: relative;
    margin-bottom: 19px;

}
.tituloQuizz{
    position: absolute;
    left: 0;
    bottom: 0;

}
.todosQuizzes p{
    margin-bottom: 13px;
    font: Roboto;
    font-weight: 400;
    font-size: 19px;
    color: #ffffff;
    margin-left: 18px;
}

@media (max-width: 1100px) {}