/*Impede de modificar o tamanho final*/
* {
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho{

    position: fixed;
    width: 100%;
    height: 69px;
    background-color: #ec362d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho img {
    width: 176px;
    height: 43px;
}

/*--------------------------------------------------------------------------------------------*/
/*Estilo referente à criação de quizzes*/

.criacao {
    display: none;
    margin: 140px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.criacao input[type=text] {
    width: 564px;
    height: 46px;
    margin: 4.5px 0;
    font-weight: 400;
    font-size: 19px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

/*Texto dentro do form*/
::placeholder {		
    padding-left: 23.16px;
    font-style: italic;
    color: #bababa;
}

.tituloCriacao {
    font-size: 23px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.prompt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.basico {
    margin-top: 27px;
    width: 600px;
    height: 256px;
}


/*Botão de confirmação*/
.confirmacao {
    width: 370px;
    height: 54px;
    margin-top: 85px;
    justify-content: center;
    align-items: center;
    background-color: #ec362d;
    font-size: 21;
    color: #fff5f4;
    border: none;
    border-radius: 15px;
}

/*Menu inferior quando finalizado*/
.finalizar {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    background-color: white;
    justify-content: center;
    bottom: 0;
    z-index: 4;
}

.tituloTodosQuizzes{
    width: 75%;
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 13px;
}
.tituloQuizzesUsuario{
    display: flex;
    align-items: center;
    width: 75%;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 13px;
}
.tituloQuizzesUsuario ion-icon{
    margin-left: 17px;
    color:  #EC362D;
    font-size: 31px;
}
.Inicio-sem-quizz{
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    width: 100%;
    height: 181px;
    margin-top: 146px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.criarQuizzInformacao{
    position: absolute;
    margin: auto auto;
    width: 250px;
    height: 107px;

}
.criarQuizzInformacao p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    
    color: #B9B9B9;

}
.listaTodosQuizzes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.listaQuizzesUsuario{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.criarQuizzBotao{
    border: 1px dashed #EC362D;
    border-radius: 50px;
    position: absolute;
    margin-top: 90px;
    width: 136px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.criarQuizzBotao p{
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #EC362D;
}
/*--------------------------------------------------------------------------------------------*/

.paginaInicial {
    width: 1066px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 12px auto 0 auto;
    

}
.seusQuizzes{
    margin-top: 138px;
    display: flex;
    flex-direction: column;
}
.todosQuizzes img{ 
    width: 340px;
    height: 181px;
    border-radius: 5px;
    margin-right: 15px;
    position: relative;
    z-index: -2;
  
}
.imagemPosition{ 
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    position: absolute;
    border-radius: 5px;
    width: 340px;
    height: 181px;
    top: 0;
    bottom: 0;
    z-index: -1;
    
  
}
.todosQuizzes{
    border-radius: 5px;
    position: relative;
    margin-bottom: 19px;

}
.tituloQuizz{
    position: absolute;
    left: 0;
    bottom: 0;

}
.todosQuizzes p{
    margin-bottom: 13px;
    font: Roboto;
    font-weight: 400;
    font-size: 19px;
    color: #ffffff;
    margin-left: 18px;
}

/*Todos os estilos em dispositivos mobile*/
@media (max-width: 1100px) {

    .criacao {
        width: 100%;
        margin: 106px 0;
    }
    
    .prompt {
        width: 100%;
        padding: 21px 18px 24px 16px;
    }

    .criacao input[type=text] {
        width: 100%;
    }

    .confirmacao {
        margin-top: 29px;
    }

}